.home {
    display: flex;
    flex-direction: column;
    align-items: center ;
    color:antiquewhite;
    font-size: 42px;
    font-weight: 800;
    justify-content: start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url("climateChange.jpg") no-repeat;
    background-size: cover;
    height:100vh;
    text-decoration: none;
  }
  .main {
    margin-top: 20%;
    margin-right: 60%;
    margin-left: 20%;
    min-width: 40%;
  }
  