.home {
  display: flex;
  flex-direction: column;
  align-items: center ;
  color:antiquewhite;
  font-size: 42px;
  font-weight: 800;
  justify-content: start;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: url("climateChange.jpg") no-repeat;
  background-size: cover;
  height:100vh;
}
.main {
  margin-top: 20%;
  margin-right: 60%;
  margin-left: 20%;
  min-width: 40%;
}

.btn {
  margin-top: 20%;
  padding-top: 1.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1.2rem;
  max-width: 50%;
  text-align: center;
  font-size: 1.2rem;
  background-color: transparent;
  border:solid 2px orangered;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
  background-color: green;
}

